<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="Test">
    <classes>
       <class name="dec28.Login"/>
       <class name="dec28.FindAFlight"/>
       <class name="dec28.SelectAFlight"/>
       <class name="dec28.BookaFlight"/>
      <class name="dec28.FlightConformation"/>   
        </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
